<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="NULL" class="ch.qos.logback.core.helpers.NOPAppender">
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%message%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.mathieukergosien.slicedownloader" level="debug"
            additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.asynchttpclient" level="all" additivity="false">
        <appender-ref ref="NULL" />
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE" />
    </root>

    <root level="info">
        <appender-ref ref="NULL" />
    </root>
</configuration>
